# 基本设置
[mysqld]
## MySQL套接字文件位置，用于本地连接
socket=${MYSQL_CONF_DIR}/mysql.sock 
## MySQL进程ID文件，用于管理MySQL进程 
pid-file=${MYSQL_CONF_DIR}/mysqld.pid 
## MySQL绑定的IP地址，0.0.0.0表示监听所有IP地址 
bind-address=0.0.0.0  
## MySQL监听的端口，默认是3306，这里设置为15800
port=${MYSQL_PORT}
## 运行MySQL的用户，通常为mysql
user=${MYSQL_USER}
## MySQL数据目录，存储数据库文件
datadir=${MYSQL_DATA_DIR}
## 设置MySQL字符集为UTF-8MB4，支持更广泛的字符集
character-set-server=UTF8MB4  
collation-server=utf8mb4_0900_ai_ci
## 设置默认时区为东八区
default-time-zone='+08:00'  
## 大小写不敏感
lower_case_table_names=1     

# 日志设置
## 开启慢查询日志，记录执行时间超过long_query_time的查询  
slow_query_log=ON
## 设置查询超时为5秒，超过此时间的查询会被记录为慢查询
long_query_time=5 
## 慢查询日志文件位置 
slow_query_log_file=${MYSQL_LOG_DIR}/errorlog/${hostname}-slow-query-${current_date}.log 
## 记录未使用索引的查询，有助于优化查询性能 
log_queries_not_using_indexes=1
## 记录慢的管理语句，如OPTIMIZE TABLE、ANALYZE TABLE等  
log_slow_admin_statements=1  
## 错误日志文件位置
log_error=${MYSQL_LOG_DIR}/errorlog/${hostname}-error-${current_date}.log  

# binlog设置
## 设置二进制日志文件，用于主从复制和恢复
log_bin=${MYSQL_LOG_DIR}/binlog/${hostname}-binlog
## 设置二进制日志索引文件  
log_bin_index=${MYSQL_LOG_DIR}/binlog/${hostname}-binlog.index  
## 开启记录行级日志事件，有助于调试和审计
binlog_rows_query_log_events=on
## 设置二进制日志缓存大小，建议根据事务大小调整  
binlog_cache_size=2M
## 设置单个二进制日志的最大大小为1GB，避免日志文件过大  
max_binlog_size=1024M
## 设置二进制日志保留7天（604800秒），避免日志文件过多  
binlog_expire_logs_seconds=604800


# 复制相关配置
## MySQL服务器ID，用于主从复制，通常取IP的末位或其他唯一标识，如果不同网段需要手动调整
server_id=${MYSQL_SERVER_ID}
## 设置中继日志文件位置  
relay_log=${MYSQL_LOG_DIR}/relaylog/${hostname}-relaylog-bin
## 设置中继日志索引文件位置  
relay_log_index=${MYSQL_LOG_DIR}/relaylog/${hostname}-relaylog-bin.index
## 启用中继日志自动清理，避免日志文件过多  
relay_log_purge=1
## 主从数据同步的线程数，建议根据CPU核心数设置,8.0.27前默认是0，之后默认是4
replica_parallel_workers=16
replica_parallel_type = LOGICAL_CLOCK
replica_preserve_commit_order = ON

## 开启GTID（全局事务标识符）模式，简化主从复制管理  
gtid_mode=on
## 强制GTID一致性，确保事务在复制时的一致性  
enforce_gtid_consistency=on
## 开启GTID简单恢复模式，简化崩溃恢复过程  
binlog_gtid_simple_recovery=1
## 设置自增列的递增步长，通常用于主从复制  
auto_increment_increment=2
## 设置自增列的起始值偏移量，通常用于主从复制  
auto_increment_offset=1  

# 连接和缓存配置
## 设置最大连接错误次数，超过此值会阻止连接
max_connect_errors=5000
## 设置最大连接数为1000，建议根据应用需求调整  
max_connections=800
## 设置连接缓冲区大小为8MB，建议根据查询复杂度调整  
join_buffer_size=1M
## 设置MyISAM索引缓冲区大小为256MB，建议根据MyISAM表大小调整  
key_buffer_size=256M
## 设置批量插入缓冲区大小为96MB，建议根据批量插入数据量调整  
bulk_insert_buffer_size=16M
## 设置临时表大小为96MB，建议根据查询复杂度调整  
tmp_table_size=64M
## 设置读缓冲区大小为8MB，建议根据查询复杂度调整  
read_buffer_size=1M
## 设置排序缓冲区大小为2MB，建议根据排序数据量调整  
sort_buffer_size=2M
## 设置最大允许的数据包大小为64MB，建议根据应用需求调整  
max_allowed_packet=64M
## 设置随机读缓冲区大小为32MB，建议根据查询复杂度调整  
read_rnd_buffer_size=4M  

# InnoDB配置
## 设置InnoDB日志提交方式，2表示每次事务提交时将日志缓冲区的数据写入文件系统缓存，每秒由操作系统调度刷盘一次。
innodb_flush_log_at_trx_commit=2
## 用于控制Binlog的更新策略。取值范围 0、1 或 N（正整数），100表示每100次事务提交后将Binlog写入磁盘。如果设置为1，IO开销非常大
sync_binlog=100
## 设置InnoDB数据文件路径及大小，自动扩展至最大500G  
innodb_data_file_path=ibdata1:2G:autoextend:max:500G
## 设置InnoDB缓冲池大小为系统内存的一半
innodb_buffer_pool_size=120G
## 设置InnoDB缓冲池实例数为8，建议根据CPU核心数设置  
innodb_buffer_pool_instances=16
## 设置InnoDB页面清理线程数为8，建议根据CPU核心数设置  
innodb_page_cleaners=8
## 设置InnoDB重做日志容量为5GB，建议根据事务量调整  
innodb_redo_log_capacity=5368709120
## 启用每个表使用独立表空间，便于管理和备份  
innodb_file_per_table=1
## 设置InnoDB刷新日志的方式为O_DSYNC，确保数据安全  
innodb_flush_method=O_DSYNC
## 禁用InnoDB邻接页面的刷新优化，适用于SSD  
innodb_flush_neighbors=0
## 设置InnoDB日志缓冲区大小为64MB，建议根据事务量调整  
innodb_log_buffer_size=64M
## 设置InnoDB I/O容量，推荐值为500，SSD或高性能存储建议为1400或更高  
innodb_io_capacity=500
## 设置InnoDB最大I/O容量为2000，建议根据存储性能调整  
innodb_io_capacity_max=2000
## 设置InnoDB读I/O线程数为16，建议根据CPU核心数设置  
innodb_read_io_threads=16
## 设置InnoDB写I/O线程数为16，建议根据CPU核心数设置  
innodb_write_io_threads=16
## 设置InnoDB线程并发控制为128，建议根据CPU核心数调整，8.4.7LTS建议0
innodb_thread_concurrency=0
## 设置InnoDB锁等待超时时间为900秒，避免长时间锁等待  
innodb_lock_wait_timeout=900
## 设置InnoDB最大脏页百分比为95%，建议根据内存大小调整  
innodb_max_dirty_pages_pct=75
## 设置InnoDB允许打开的最大文件数为50000，建议根据表数量调整  
innodb_open_files=50000
sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,NO_AUTO_VALUE_ON_ZERO"
